<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <p>Add Book</p>
    <form action="/book" method="post">
      <div>
        <p>Title</p>
        <input type="text" value="" name="title">
      </div>
      <div>
        <p>Author</p>
        <input type="text" value="" name="author">
      </div>
      <div>
        <p>Quantity</p>
        <input type="number" value="" name="quantity">
      </div>
      <div>
        <button type="submit">Add book</button>
      </div>
    </form>

  </div>
</body>
</html>