body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
.nav-bar{
  height: 12vh;
  display: flex;
  background-color: #002c56;
  justify-content: space-between;
}
.logo-wrapper{
  width: 2vw;
  height: 2vw;
  font-size: 1.8vw;
  color: #002c56;
  background-color: #ffffff;
  border-radius: 50%;
  padding: .3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px auto 10px;
  font-weight: bolder;
}
.wel-title{
  color: #ffffff;
  font-size: 3vw;
  font-weight: 600;
  margin: auto;
}
.logout-btn{
  background-color: white;
  border-radius: 10px;
  color: #002c56;
  width: 7vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10px auto 0px;
  outline: none;
  border: none;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
}
.product-list-wrapper{
  padding: 1vw 3vw;
}
table{
  width: 100%;
  border-collapse: collapse;
}
td,th {
  border: 1px solid rgb(216 216 216);
  text-align: center;
}
.add-cart {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  
}
.add-cart img{
  width: 20px;
  cursor: pointer;
}

.place-order-btn{
  display: flex;
  padding-right: 3vw;
}
.place-order{
  width: 10vw;
  height: 3vw;
  background-color: #002c56;
  color: #ffffff;
  border-radius: 5px;
  margin-left: auto;
  font-size: 1.2vw;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
}
.table-title{
  font-size: 2vw;
  color: #002c56;
  font-weight: bold;
}
.user-action-wrapper{
  width: 15vw;
  height: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}