<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="add-user">
    <p>Add user</p>
    <form action="/product" method="post">
      <p>Product id</p>
      <input name="id" value="" placeholder="id">
      <p>Model</p>
      <input name="model" value="" placeholder="model">
      <p>Email</p>
      <input type="number" name="quantity" value="" placeholder="quantity">
      <button type="submit">Add user</button>
    </form>
  </div>
</body>
</html>