<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="add-user">
    <p>Add user</p>
    <form action="/user" method="post">
      <p>First name</p>
      <input name="firstname" value="" placeholder="First name">
      <p>Last name</p>
      <input name="lastname" value="" placeholder="First name">
      <p>Email</p>
      <input name="email" value="" placeholder="Email">
      <button type="submit">Add user</button>
    </form>
  </div>
</body>
</html>